body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
}


/* headers and their properties */

.container-container {
    max-width: 1110px;
    width: 100%;
    margin: 0 auto;
}

h1,
h2,
h3,
h4 {
    font-weight: 700;
}

h1 {
    font-size: 70px;
    /* 80/100 = 0.8 */
    line-height: 1.2;
}

h2 {
    font-size: 36px;
    line-height: 1.2;
}

h3 {
    font-size: 24px;
    line-height: 1.25;
}

h4 {
    font-size: 16px;
    font-weight: 300px;
    line-height: 1;
}


/* paragraphs */

p {
    line-height: 1.8;
    color: #8a8b8d;
}

.strong {
    color: #161418;
    font-weight: 700;
}

.main-navigation-fontsize {
    font-size: 12px;
}

.text-transform {
    text-transform: uppercase;
}

.lh-1point6 {
    line-height: 1.6;
}


/* colors used */

.text-white {
    color: #fff;
}

.text-orange {
    color: rgb(247, 134, 6);
}

.text-black {
    color: rgba(8, 8, 8, 0.993);
}

.text-gray {
    color: rgb(116, 114, 114);
}

.bg-orange {
    background-color: rgb(247, 134, 6);
}

.bg-grey {
    background-color: rgb(228, 223, 217);
}


/* links */

a {
    text-decoration: none;
    color: inherit;
    line-height: 1;
}

.nav-logo {
    font-size: 24px;
    font-weight: 700;
}

.main-navigation-font-size {
    font-size: 12px;
}

.font-spacing {
    letter-spacing: 1px;
}

.font-weight300 {
    font-weight: 300;
}

.btn {
    display: inline-block;
    text-transform: uppercase;
    line-height: 1;
    font-weight: 700;
}

.btn-transparent {
    background: transparent;
    border: 2px solid white;
    /* display: inline-block; */
    font-size: 12px;
}

.btn-sm {
    padding: 12px 15px;
}

.btn-md {
    padding: 17px 30px;
}

.pt-35 {
    padding-top: 35px;
}

.pr-25 {
    padding-right: 25px;
}

.prl-10 {
    padding: 0 10px;
}

.mb-70 {
    margin-bottom: 70px;
}

.mb-60 {
    margin-bottom: 60px;
}

.mb-40 {
    margin-bottom: 40px;
}

.mb-30 {
    margin-bottom: 30px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mb-15 {
    margin-bottom: 15px;
}

.mt-30 {
    margin-top: 30px;
}

.mt-50 {
    margin-top: 50px;
}


/* main-section */

header {
    background: url("../images/hero.jpg") center center no-repeat;
    min-height: 100vh;
    background-size: cover;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.navigation-item {
    display: inline-block;
    margin: 0 15px;
}

.navigation-item-side {
    display: inline-block;
    margin: 0 15px;
}

.header-content-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.navigation-wrapper {
    padding: 20px;
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 100%;
    max-width: 1180px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}


/* pozicija na navigation bar */

.main-navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}


/* main-section */


/* ///////// */

.section1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.section-wrapper {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    max-width: 395px;
}

.section-image {
    width: 100%;
    max-width: 600px;
}


/* ////////// */

.section2 {
    min-height: 900px;
}

.section2-paragraph {
    padding-top: 50px;
}


/* //////// */

.main-images-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    /* margin-top: 30px; */
}

.image-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    max-width: 300px;
    overflow: hidden;
}

.under-image-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    padding-right: 30px;
    padding-left: 30px;
    padding-bottom: 35px;
}


/* ////////// */

.section3 {
    background: url("../images/image5.jpg") center center no-repeat;
    min-height: 100vh;
    background-size: cover;
    position: relative;
}

.section3-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}


/* /////// */

.section4 {
    min-height: 900px;
}

.section4-imagewrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

.section4-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
}

.blog-carousel .owl-nav button {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    max-width: 50px;
}

.blog-carousel .owl-nav .owl-prev {
    left: -50px;
}

.blog-carousel .owl-nav .owl-next {
    right: -50px;
}

.blog-carousel .owl-stage {
    padding-bottom: 20px;
}


/* ///////// */

.footer-section {
    background-color: rgb(36, 3, 36);
    min-height: 400px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 20px;
}

.footer-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    max-width: 400px;
    text-align: center;
}

.subscribe {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.input-subscribe {
    max-width: 300px;
    width: 100%;
}


/* menu-toggle */

.menu-toggle {
    display: none;
    position: relative;
    z-index: 1000;
    cursor: pointer;
    /* // deka e div ne e kopce cursor */
    background-color: transparent;
    width: 30px;
    height: 20px;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.menu-toggle span {
    display: block;
    position: absolute;
    right: 0;
    height: 2px;
    width: 100%;
    background: #fff;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    /* za da vazi transition mora da se naprai transform */
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    /* koga se koristi transform i rotate se koristi transform-origin:center; */
    -webkit-transform-origin: center;
    -ms-transform-origin: center;
    transform-origin: center;
}

.menu-toggle span:nth-child(1) {
    top: 1px;
}

.menu-toggle span:nth-child(2) {
    top: 9px;
}

.menu-toggle span:nth-child(3) {
    top: 17px;
}

.menu-toggle.activated span:nth-child(1) {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 8px;
}

.menu-toggle.activated span:nth-child(2) {
    opacity: 0;
    right: -10px;
}

.menu-toggle.activated span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 8px;
}

.menu-toggle.activated span {
    background: #fff;
}

@media screen and (max-width:1200px) {
    .blog-carousel .owl-nav button {
        position: initial;
        margin: 20px;
    }
    .blog-carousel .owl-nav {
        text-align: center
    }
}


/* tablets */

@media screen and (max-width:992px) {
    .menu-toggle {
        display: block;
    }
    .navigation-wrap {
        left: -100%;
        position: absolute;
        top: 0;
        height: 100vh;
        width: 100%;
        -webkit-transition: all 0.3s cubic-bezier(0.39, 0.58, 0.57, 1);
        -o-transition: all 0.3s cubic-bezier(0.39, 0.58, 0.57, 1);
        transition: all 0.3s cubic-bezier(0.39, 0.58, 0.57, 1);
    }
    .navigation-wrap .main-navigation {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        background: rgb(247, 134, 6);
    }
    .navigation-displayed {
        position: fixed;
        left: 0;
        display: block;
        overflow: hidden;
    }
    .navigation-item {
        margin: 30px;
    }
    .header {
        min-height: inherit;
        padding-top: 150px;
        padding-bottom: 50px;
    }
    a {
        font-size: 18px;
    }
    p {
        font-size: 18px;
    }
    h1 {
        font-size: 50px;
    }
    .pt-30-mobile-responsive {
        padding-top: 30px;
    }
    .mb-20-mobile-responsive {
        margin-bottom: 20px;
    }
    .content-flex-center-tablet {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        margin-bottom: 30px;
    }
    .content-flex-centertext-tablet {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        margin-bottom: 30px;
    }
}


/* mobile phones */

@media screen and (max-width:767px) {
    h1 {
        font-size: 40px;
    }
    h2 {
        font-size: 30px;
    }
    p {
        font-size: 16px;
    }
    .btn {
        font-size: 16px;
        padding: 18px 15px;
    }
    /* .section3-responsive {
        background: url("../images/image5.jpg") top left no-repeat;
    } */
    .text-align-center-mobile {
        text-align: center;
    }
}

@media screen and (max-width:545px) {
    h1 {
        font-size: 30px;
    }
    h2 {
        font-size: 25px;
    }
    p {
        font-size: 16px;
    }
    .btn {
        font-size: 14px;
        padding: 16px 13px;
    }
    .menu-toggle {
        display: block;
    }
    .navigation-displayed {
        position: fixed;
        left: 0;
        display: block;
        overflow: hidden;
    }
    .navigation-item-side {
        margin: 30px;
    }
}